<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Go to post</th>
    </tr>
  </thead>
  <tbody>
    <% @user.microposts.each do |post| %>
    <tr>
      <td><%= post.content %></td>
      <td><%= post.created_at %></td>
      <td><%= post.updated_at %></td>
      <td><%= link_to 'Go to post', post %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'All users', users_path %>
